/* Navgation */
#navcon {
    background-color: #931e0f;
    display: flex;
    margin: 0 auto;
    padding: 15px;
    justify-content: space-around;
  }
  
#navcon a {
  display: flex;
  font-family: 'playfair display', sans-serif, serif;
  color: #850c0c;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px;
  text-decoration: none;
  transition: color .3s ease-in-out; /* Creates a transition effect for hovering over links. NOTE: It MUST have a [class]:hover to it in order for it to work */
}

#navcon a:hover {
  color: #2E96F1;
}
  
.nav-items{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #f2d361;
  padding-left: 15px;
  padding-right: 15px;
}
  
/* logo */
#logo {
  display:flex;
  margin: 0 auto;
  width: 200px;
  padding-left: 600px;
  padding-right: 600px;
  justify-content: center;
  padding-bottom:50px;
}

/* header */
.headbg {
  padding-top: 50px;
  background-image: url("https://drive.google.com/uc?export=view&id=1KVDapld513gDp4XOaLft0qfmeyxhszdV");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Site Heading */
h1 {
  font-family: 'agbalumo', serif, sans-serif;
  font-size: 48px;
  text-align: center;
  color: #f0c426;
  text-shadow: 3px 3px 2px #e84820;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-bottom:15px;
  letter-spacing: 1px;
}

/* about us */
.abt-con {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: #Ffedc7;
  padding-top: 10px;
  padding-bottom: 10px;
}

.side-img {
  width: 700px;
  padding: 10px;
  border: 2px solid #850c0c;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 35px;
  max-width: 800px;
}

#about h2 {
  margin-top: -100px;
}

/* Quarterly Menu */

#quarterly {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #850c0c;
}

.menu{
  display: flex;
  background-color: #f2d361;
  width: 800px;
  margin: 0 auto;
  padding: 0px 50px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: -10px;
  border-radius: 200px 200px 10px 10px;
}

.wraps {
  font-family: 'playfair display', sans-serif, serif;
  line-height: 25px;
  font-size: 14px;
}

.sides {
  font-family: 'playfair display', sans-serif, serif;
  line-height: 25px;
  font-size: 14px;
}


/* Mathmatician's Faves */
.math {
  width: 100%;
}

/* Gallery */
.gallery {
  display: flex;
  background-color: #f0c426;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: normal;
  margin: 0 auto;
  width: 100% !important;
  padding: 50px 0px;
}

.gallery img {
  max-width: 200px;
  max-height: 130px;
  width: 100%;
  height: 100%;
}

/* Location */
#local {
  width: 100%;
}

/* Hours */
#hours {
  width: 100%;
}

#hours ul {
  list-style-type: none;
  line-height: 35px;
  font-family: 'Oswald', sans-serif, serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
}

#hours li {
  display: flex;
  justify-content: space-evenly;
}

/* Footer */
.foot {
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.social img {
  width: 30px;
}

/* section headings */
h2 {
  font-family: 'roboto slab', serif, sans-serif;
  color: #fc9f26;
  text-shadow: 2px 2px 2px #e84820;
  font-size: 32px;
}

/* sub-section headings */
h3 {
  font-family: 'playfair display', sans-serif, serif;
  font-size: 28px;
  font-weight: 800;
  font-style: italic;
  text-transform: lowercase;
  margin-top: 35px;
  margin-bottom: 25px;
}

h3:nth-of-type(odd) {
  color: #e84820;
}

h3:nth-of-type(even) {
  color: #fc9f26;
}

h4 {
  font-family: 'oswald', serif, sans-serif;
  letter-spacing: 1px;
  color: #2E96F1;
  font-size: 18px;
}