/* Navgation */

#navcon {
    background-color: #931e0f;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 15px;
  }
  
  #navcon ul {
    font-family: 'playfair display', sans-serif, serif;
    list-style-type:none;
    width: 1800px;  /* note: instead of 500px I did 1800px as it looked more aesthetically pleasing on the screens. */
    color: black;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px;
    background-color: #f0c426;
    padding: 10px;
  }
  
  .nav-items{
    display: flex;
    justify-content: space-around;
  }
  
  /* logo */
  #logo {
    display:flex;
    margin: 0 auto;
    width: 200px;
    padding-left: 600px;
    padding-right: 600px;
    justify-content: center;
    padding-bottom:50px;
  }
  
  /* header */
  
  .headbg {
    padding-top: 50px;
    background-image: url("https://drive.google.com/uc?export=view&id=1KVDapld513gDp4XOaLft0qfmeyxhszdV");
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  /* Site Heading */
  h1 {
    font-family: 'agbalumo', serif, sans-serif;
    font-size: 48px;
    text-align: center;
    color: #f0c426;
    text-shadow: 3px 3px 2px #e84820;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom:15px;
  }
  
  /* about img */
  
  .about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 800px !important;
    background-color: #ddd;
    padding: 35px;
  }
  
  .about h2{
    margin-top: -10px;
  }
  
  .abt {
    margin-left: 15px;
    margin-top: 15px;
    padding: 5px;
    width: 400px;
    border: 1px solid black;
  }
  
  
  /* Quarterly Menu */
  .menu {
    margin: 0 auto;
    width: 800px;
    text-align: center;
  }
  
  .qmenu{
    display: flex;
    justify-items: space-evenly;
  }
  
  .selection {
    font-family: 'playfair display', sans-serif, serif;
    line-height: 25px;
    font-size: 14px;
  }
  
  .wraps {
    
  }
  
  .sides {
    
  }
  
  
  /* Footer */
  
  .foot {
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
  }
  
  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  
  .social img {
    width: 30px;
  }
  
  
  /* Mathmatician's Faves */
  .math {
    width: 100%;
  }
  
  /* Gallery */
  .gallery {
    display: flex;
    background-color: #f0c426;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: normal;
    margin: 0 auto;
    width: 100% !important;
    padding: 50px 0px;
  }
  .gallery img {
    max-width: 200px;
    max-height: 130px;
    width: 100%;
    height: 100%;
  }
  
  /* Location */
  .local {
    width: 100%;
  }
  
  /* Hours */
  .hours {
    width: 100%;
  }
  
  .hours ul {
    list-style-type: none;
    line-height: 35px;
    font-family: 'Oswald', sans-serif, serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
  }
  
  .hours li {
    display: flex;
    justify-content: space-evenly;
  }
  
  /* section headings */
  h2 {
    font-family: 'roboto slab', serif, sans-serif;
    color: #fc9f26;
    text-shadow: 2px 2px 2px #e84820;
    font-size: 32px;
  }
  
  /* sub-section headings */
  
  h3 {
    font-family: 'playfair display', sans-serif, serif;
    font-size: 28px;
    font-weight: 800;
    font-style: italic;
    text-transform: lowercase;
    margin-top: 35px;
    margin-bottom: 25px;
  }
  
  h3:nth-of-type(odd) {
    color: #e84820;
  }
  
  h3:nth-of-type(even) {
    color: #fc9f26;
  }
  
  h4 {
    font-family: 'oswald', serif, sans-serif;
    letter-spacing: 1px;
    color: #2E96F1;
    font-size: 18px;
  }